.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
.button{
    background-color:#2563eb ;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    transition: 1s linear;

}

.button:hover{
    transform: scale(1.2);

}