body {
    gap: 100px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    margin-top: 30px;
    margin-left: 30px;
  }
  div {
    width: 200px;
    background-color: rgba(196, 192, 192, 0.507);
    height: 135px;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
  }
  .one {
    background-color: rgb(59, 223, 59);
    margin-left: 50px;
    width: 100px;
    height: 100px;
    transition: transform;
    transform: rotate(35deg);
    transition-delay: 3s;
    transition-duration: 4s;
    border-radius: 5px;
  }
  
  .two {
    background-color: rgb(56, 196, 56);
    margin-left: 50px;
    width: 100px;
    height: 100px;
    transition: transform;
    transform: rotate(45deg);
    transition-delay: 3s;
    transition-duration: 4s;
    border-radius: 5px;
  }